@model Category
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <form class="forms-sample" method="post">
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desc">Description</label>
                <input asp-for="Desc" class="form-control" placeholder="Description">
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary mr-2">Update</button>
        </form>
    </div>
</div>
@section Scripts{
<partial name="_Validation"/>
    }

