@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}
<!-- PRODUCTS START -->

<section id="products">
    <div class="container">
        <input type="hidden" id="productCount" value="@ViewBag.ProductCount"/>
        <div class="row" id="listProduct">
            <partial name="_ProductPartial"/>
        </div>
        <div class="row d-flex justify-content-center mt-3">
            <button id="loadmore" class="btn btn-success">
                Load More...
            </button>
        </div>
    </div>
</section>

<!-- PRODUCTS END -->
